.interest-box {
    display: flex;
    background: #000033;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.interest-box div {
    margin: 10px
}

.spanClass {
    color: #fa0355;
}
