.project-box {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.project-box div {
    margin: 10px
}

.projectCard {
    background: url("https://res.cloudinary.com/diirdewi4/image/upload/c_scale,w_300/v1591366736/portfolio-react-project-vscode-programming.jpg");
    background-size: cover;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: serif;
    width: auto;
    height: auto;
}

.projectButton {
    border: white solid 2px;
    margin: 10px;
    padding: 5px;
    color: white;
    border-radius: 8px
}