.skill-box {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-box div {
    margin: 10px
}

.skillCard {
    padding: 8px;
    border-radius: 15px;
    text-align: center;
    font-family: serif;
}
